.ToDoItem,
.ToDoItemChecked {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.ToDoItemChecked {
  color: grey;
  text-decoration: line-through;
}

.ToDoItem input,
.ToDoItemChecked input {
  width: 20px;
}

.ToDoItem .content,
.ToDoItemChecked .content {
  flex: 1;
}

.ToDoItem .date,
.ToDoItemChecked .date {
  font-size: 14px;
  color: gray;
}

.ToDoItem button,
.ToDoItemChecked button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
